.config/nvim/plugin/packer_compiled.lua
.config/fish/config.fish.pysave
.config/nvim/journal/
.emacs.d/.lsp-session-v1
.emacs.d/.cache
**/*~
**/#*#

.emacs.d/network-security.data
.emacs.d/projectile-bookmarks.eld
.idea/
